/* HomePage.css */
.home-container {
    margin: 0 auto;
    position: fixed;
    top: 0;
    padding-top: 10px; /* Adjusted to ensure enough space above */
    text-align: center;
    overflow: visible; /* Prevent horizontal scroll */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
}

.logo {
  width: 30em;
  height: auto;
}

.scroll-div {
  position: absolute;
  top: 0;
  width: 100%;
  height: 5000px;
}

.focused {
  transform: scale(1.15);
  opacity: 100%;
}
  
/* Add any additional styling for main heading and subheading below */
.main-heading {
  padding-left: 3em;
  font-size: 6em;
  margin-bottom: 0.5em; /* Adjust the margin as needed */
  color: #e9851a;
  font-weight: 700;
}

.sub-heading {
  padding-left: 6em;
  font-size: 3em;
  margin-bottom: 1em; /* Adjust the margin as needed */
  color: #d77f20;
}

.signed-in {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.signed-in > img {
  height: 30px;
  padding-right: 10px;
  object-fit: contain;
}

.signed-in > p {
  line-height: 0;
  margin: 0px;
  color: #787878;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  /* border: 3px solid blue; */
  position: relative;
  width: 40%;
}
  
@media only screen and (max-width: 1000px) {
  .home-container {
    flex-direction: column;
  }

  .grid-container {
    width: 100%;
    transform: scale(.7);
  }
}
